MINIO_ENDPOINT=http://localhost:9000
MINIO_SPARK_ENDPOINT=http://minio:9000

MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
MINIO_RAW_BUCKET=raw-batch
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

POSTGRES_DB=japan_travel
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
POSTGRES_JDBC_URL=jdbc:postgresql://postgres:5432/japan_travel

NETWORK_NAME=japan_travel_network
